language: python
sudo: false

env:
  - LUA="lua=5.1"
  - LUA="lua=5.2"
  - LUA="lua=5.3"
  - LUA="luajit=2.0"
  - LUA="luajit=2.1"

before_install:
  - pip install hererocks
  - hererocks lua_install -r^ --$LUA
  - export PATH=$PATH:$PWD/lua_install/bin

install:
  - luarocks install luarocks
  - luarocks install luacheck
  - luarocks install busted
  - luarocks install luacov
  - luarocks install luacov-coveralls

script:
  - luacheck --no-unused-args --std max+busted *.lua spec
  - busted --verbose --coverage

after_success:
  - luacov-coveralls --exclude $TRAVIS_BUILD_DIR/lua_install

notifications:
  email:
    on_success: never
    on_failure: never
